PATH_add /usr/local/go/bin
PATH_add scripts/bin
export GIT_SSH_COMMAND="ssh -i ~/.ssh/id_ed25519_ai4mgreenly -o IdentitiesOnly=yes"
export RALPH_SHOWS_HOST=localhost
export RALPH_SHOWS_PORT=5000
export RALPH_PLANS_HOST=localhost
export RALPH_PLANS_PORT=5001
export RALPH_RUNS_HOST=localhost
export RALPH_RUNS_PORT=5002
export RALPH_LOGS_HOST=localhost
export RALPH_LOGS_PORT=5003
export RALPH_COUNTS_HOST=localhost
export RALPH_COUNTS_PORT=5004
